<h1> Login </h1>
<form action="/auth/login" method="POST">
   USER <input type="text" name="username">
   PASSWORD <input type="password" name="password">
   <button type="submit"> Submit </button>
</form>
<a href="/auth/facebook">Facebook signup</a><br />
<a href="/auth/google">Google signup</a>